/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.slider-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.prev-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-button:hover {
    background-color: #555;
}
